@font-face {
    font-family: "MTD Bold";
    src: url(MTD\ Balerno\ Bold\ copy.ttf);
}
@font-face {
    font-family: "MTD Light";
    src: url(MTD\ Balerno\ Light.otf);
}
@font-face {
    font-family: "MTD Regular";
    src: url(MTD\ Balerno\ Regular.ttf);
}
body {
    font-family:'MTD Regular', Papyrus, 'Times New Roman', Times, serif;
}
.bg-light {
   background-color: #ff8080 !important;
}
.banner {
    background-image: url(NhaTrang.jpeg);
    background-position: relative;
    background-repeat: none;
    background-size: cover;
    height: 280px;
}
.note {
    margin: 0 auto;
    border: 1px solid #fff;
    width: 100%;
    max-width: 800px;
}
.secure {
    height: 220px;
    border: 1.5px solid #999;
    padding: 17px;
    margin-bottom: 20px;
}
.secure a {
    margin-top: 7px;
}
.center {
    text-align: center;
}
.border {
  border: 1px solid #ff8080;
  border-radius: 3px;
  padding: 10px;
  height: 40px;
  width: 100px;
  text-decoration: none;
  color: #ff8080;
  }
.border:hover {
  border: 1px solid #ff8080;
  background-color: #ff8080;
  color: #fff;
  }
#footer {
        margin-top: 2.5%;
        float: left;
        padding: 4%;
}
@media only screen and (max-width: 768px) {
    .image, .text {
        float: none;
        width: 100%;
    }
    .image {
        margin-right: 0;
    }
}
@media only screen and (max-width: 992px) {
    .banner {
        height: 370px;
    }
}
@media only screen and (min-width: 992px){
    .banner {
        height: 500px;
    }
}